:root {
    /* --white: #fff;
    --primary: #4d6feb;
    --info: #4d6feb;
    --success: #50bc8c;
    --warning: #f4c048;
    --error: #df4c3f;
    --text-color: #030303;
    --bg-color: #f6f6f6;
    --blue: #1e90ff; */

    --header-box-shadow: 0px 0px 8px rgba(168, 216, 243, 0.5);
    --card-box-shadow: 0px 0px 8px rgba(168, 216, 243, 0.3);
}